<selection id="revenue_show">
  <h2><%= t(".title", name: "Revenue") %></h2>
  <table class="table table-bordered">
    <tr>
      <td width = "200px">Created User</td>
      <td><%= @spending.user.try(:name) %></td>
    </tr>
    <tr>
      <td width = "200px">Name</td>
      <td><%= @spending.name %></td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><%= vn_to_currency(@spending.amount) %></td>
    </tr>
    <tr>
      <td>Content</td>
      <td><%= @spending.content %></td>
    </tr>
    <tr>
      <td colspan="2">
      	<%= link_to "Edit", edit_admin_spending_path(@spending), class: :btn %>
        <%= link_to t(".back"), admin_revenues_path, class: :btn %>
        <%= link_to "Delete", admin_spending_path(@spending), method: :delete, data: {confirm: "Are you sure?"}, class: "btn"%>
      </td>
    </tr>
  </table>
</selection>
